* {
    margin: 0;
    padding: 0;
}

#background {
    background-color: #1F2937;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 180px;
    padding-right: 180px;
}

header {
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;

}

#logo {
    margin-right: auto;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;;
    color: #F9FAF8;
}

.container {
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}

#placeholder {
    height: 250px;
    width: 50%;
    background-image: url("images/coffee.jpg");
    background-size: cover;
}

#Main {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;;
    color: #F9FAF8;
    width: 50%;
}

#Secondary {
    margin-top: -130px;
    height: fit-content;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: #E5E7EB;
    width: 45%;
}

button {
    display: block;
    margin-top: 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 32px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 18px;
}