* {
    margin: 0;
    padding: 0;
}

#background {
    background-color: #1F2937;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 150px;
    padding-left: 180px;
    padding-right: 180px;
}

header {
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;

}

#logo {
    margin-right: auto;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;;
    color: #F9FAF8;
}